#MagnetsArea {
    width: 100%;
    height: 800px;
    background-color: #F2F2F2;
    display: flex;
}

.magnet {
    margin: auto 5px 5px 5px;
    background-color: pink;
    border: 1px solid red;
    display: inline-block;
}

.magnet p {
    padding: 5px;
    margin: 0;
}